
.categories__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 30px;
}

.categories__item {
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 370px;
  display: flex;
  padding: 20px 20px 16px;
  justify-content: space-between;
  transition: all 0.3s;
  text-decoration: none;
}

.categories__item:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.categories__item:hover .categories__item-title {
  color: #1c62cd;
}

.categories__item-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categories__item-title {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #2f3035;
  transition: all 0.3s;
  margin: 0;
}

.categories__item-text {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
  padding-right: 17px;
  position: relative;
  margin: 0;
}

.categories__item-text::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 9px;
  top: 6px;
  right: 75px;
  background-image: url('../../assets/images/link-arrow.svg');
  background-repeat: no-repeat;
}

.categories__item-img {
  text-align: center;
  width: 50%;
}

.categories__item-img img {
  max-width: 100%;
  height: auto;
}



@media (max-width: 1200px) {
  .categories__inner {

    justify-content: flex-start;
  }
}