.search {
  width: 100%;
}

.searchInner {
  width: 100%;
}

.searchTabs {
  margin-bottom: 25px;
}

.tabsWrapper {

  max-width: 100%;
}

.searchTabsItem {
  display: inline-block;
  padding: 11px 26px 12px;
  color: rgb(47, 48, 53);
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

.searchTabsItem.tabActive {
  background: #F0F0F4;
  border-radius: 5px;
  font-weight: 700;
}

.tabsContent {
  display: none;
}

.tabsContent.tabsContentActive {
  display: block;
}

.searchContentForm {
  display: flex;
  width: 100%;
}

.searchContentInput {
  width: 100%;
  background-color: #F0F0F4;
  border-radius: 3px;
  padding: 15px 20px;
  border: none;
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2F3035;
  outline: none;
}

.searchContentInput::placeholder {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #656464;
}

.searchContentBtn {
  cursor: pointer;
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #1C62CD;
  border-radius: 3px;
  padding: 17px 40px;
  border: none;
  white-space: nowrap;
}



@media (max-width: 968px) {
  .mobileOverflow {
    width: 1000px;
  }

  .tabsWrapper {
    overflow-x: auto;
  }
}

@media (max-width: 940px) {
  .searchTabs {
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .searchContentForm {
    position: relative;
  }

  .searchContentInput {
    height: 50px;
    padding-right: 50px;
  }

  .searchContentBtn {
    font-size: 0;
    line-height: 0;
    background-image: var(--search-icon);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
    padding: 17px;
    position: absolute;
    right: 8px;
    top: 13px;
    border-radius: 0;
  }
}