@font-face {
     font-family: "Barlow";
     font-style: normal;
     font-weight: 300;
     font-display: swap;

     src: local("Barlow"),

          url("../fonts/Barlow-Light.woff2") format("woff2"),

          url("../fonts/Barlow-Light.woff") format("woff");

}

@font-face {
     font-family: "Barlow";
     font-style: normal;
     font-weight: 400;
     font-display: swap;
  
     src: local("Barlow"),

          url("../fonts/Barlow-Regular.woff2") format("woff2"),

          url("../fonts/Barlow-Regular.woff") format("woff");
}



@font-face {
     font-family: "Barlow";
     font-style: normal;
     font-weight: 600;
     font-display: swap;

     src: local("Barlow"),

          url("../fonts/Barlow-SemiBold.woff2") format("woff2"),

          url("../fonts/Barlow-SemiBold.woff") format("woff");
}

@font-face {
     font-family: "Barlow";
     font-style: normal;
     font-weight: 700;
     font-display: swap;
  
     src: local("Barlow"),
  
          url("../fonts/Barlow-Bold.woff2") format("woff2"),
     
          url("../fonts/Barlow-Bold.woff") format("woff");
}


@font-face {
     font-family: "Proxima Nova";
     font-style: normal;
     font-weight: 600;
     font-display: swap;
   
     src: local("Proxima Nova"),

          url("../fonts/ProximaNova-SemiBold.woff2") format("woff2"),

          url("../fonts/ProximaNova-SemiBold.woff") format("woff");
}

@font-face {
     font-family: "Proxima Nova";
     font-style: normal;
     font-weight: 700;
     font-display: swap;

     src: local("Proxima Nova"),
  
          url("../fonts/ProximaNova-Bold.woff2") format("woff2"),
  
          url("../fonts/ProximaNova-Bold.woff") format("woff");
}





@font-face {
     font-family: "SFProDisplay";
     font-style: normal;
     font-weight: 400;
     font-display: swap;

     src: local("SFProDisplay"),
  
          url("../fonts/SFProDisplay-Regular.woff2") format("woff2"),
       
          url("../fonts/SFProDisplay-Regular.woff") format("woff");
}



@font-face {
     font-family: "SFProDisplay";
     font-style: normal;
     font-weight: 500;
     font-display: swap;

     src: local("SFProDisplay"),

          url("../fonts/SFProDisplay-Medium.woff2") format("woff2"),

          url("../fonts/SFProDisplay-Medium.woff") format("woff");
}



@font-face {
     font-family: "SFProDisplay";
     font-style: normal;
     font-weight: 600;
     font-display: swap;
  
     src: local("SFProDisplay"),
    
          url("../fonts/SFProDisplay-SemiBold.woff2") format("woff2"),

          url("../fonts/SFProDisplay-SemiBold.woff") format("woff");
}


@font-face {
     font-family: "SFProDisplay";
     font-style: normal;
     font-weight: 700;
     font-display: swap;

     src: local("SFProDisplay"),

          url("../fonts/SFProDisplay-Bold.woff2") format("woff2"),

          url("../fonts/SFProDisplay-Bold.woff") format("woff");
}


@font-face {
     font-family: "Staatliches";
     font-style: normal;
     font-weight: 400;
     font-display: swap;

     src: local("Staatliches"),

          url("../fonts/Staatliches-Regular.woff2") format("woff2"),
   
          url("../fonts/Staatliches-Regular.woff") format("woff");
}





