.banner {
  margin-bottom: 72px;
  width: 100%;
}


.banner__link {
  display: block;
  width: 100%;
}

.banner__linkImg {
  width: 100%;        
  height: auto;
  display: block;
  object-fit: cover;
}